beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==2.0.12
dataclasses==0.8
idna==3.4
importlib-resources==5.4.0
lxml==4.9.2
numpy==1.19.5
pandas==1.1.5
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
torch==1.10.2
torchtext==0.11.2
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.26.15
zipp==3.6.0
